/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: 'Teddy Bear';
    font-style: normal;
    src: local('Teddy Bear'), url('fonts/teddy-bear.ttf') format('truetype');
}

@font-face {
    font-family: 'Birch';
    font-style: normal;
    src: local('Birch'), url('fonts/birch.ttf') format('truetype');
}

.header {
    position: relative;
    width: 100%
}

.header_logo {
    width: 100%
}

.b-navbar {
    font-family: arial;
    font-weight: bold;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    /* opacity: 0.25; */
}

.logo {
    font-family: 'Teddy Bear', arial;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}

p {
    font-family: Birch;
    font-size: large;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Teddy Bear', arial;
    text-shadow: 4px 4px 4px #aaa;
}

body {

}

#modal-sign-up {
    background: rgba(50, 12, 2, 0.3);
}

.modal-body, .modal-header, .modal-footer {
    background-color: rgba(50, 12, 2, 0.3);
}

#name, #phone, #date, #mail {
    font-family: Birch;
    font-size: medium;
    font-weight: bold;
}

#greater, #preferences {
    margin-left: auto;
    margin-right: auto;
    text-align-all: center;
    width: 60%;
}

.title-line {
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

#footer {
    background-color: dimgrey;
    height: 300px;
}

#footer-title {
    color: whitesmoke;
    font-weight: bold;
}

.footer-link {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

.footer-link:hover {
    color: rgba(245, 245, 245, 0.7);
    font-weight: bold;
    text-decoration: none;
}

.phone-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.phone-link:hover {
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    text-decoration: none;
}

.contacts-face {
    width: 200px;
    height: 200px;
    border:1px solid #ddd;
    border-radius: 50%;
    box-shadow: 0 2px 5px #aaa;
    margin: 5% auto;
    position: center;
    top: 0; left: 0; bottom: 0; right: 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.contacts-face:hover {
    border-radius: 3px;
}
