<section>
  <br>
  <h1 style="text-align: center;">Contacts</h1>
  <hr class="title-line">

  <b-container>
    <b-row>
      <b-col>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </b-col>
      <b-col>
        <iframe width="500" height="300" frameborder="0" style="border:2px;"
                src="<%= maps %>"
                allowfullscreen>
        </iframe>
      </b-col>
    </b-row>
    <b-row>
        <p></p>
    </b-row>
  </b-container>



  <b-container>
    <b-row>
      <b-col>
        <b-row>
          <b-col>
            <h5>Call us to get more info:</h5>
          </b-col>
          <b-col>
            <b-link href="tel:111" class="phone-link">111-111-111</b-link><br>
            <b-link href="tel:222" class="phone-link">222-222-222</b-link><br>
            <b-link href="tel:333" class="phone-link">333-333-333</b-link><br>
          </b-col>
        </b-row>
      </b-col>

      <b-col>
        <h5>Call me !..  Call me now !.. </h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </b-col>
    </b-row>
  </b-container>
</section>

<section id="persons">
  <br>
  <h3 style="text-align: center;">Personal</h3>
  <hr class="title-line">

  <div align="center">
  <b-card-group deck class="w-75">

    <b-card>
      <b-card-head>
        <%= image_tag '57446544_830394090655093_8280108712262107136_o.jpg', :class=>'contacts-face'%>
      </b-card-head>
      <b-card-text>
        <h4>Helga</h4>
        This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.
      </b-card-text>
      <div slot="footer"><small class="phone-link">Записаться на приём к специалисту</small></div>
    </b-card>

    <b-card>
      <b-card-head>
        <%= image_tag '59731714_2298889647040363_6685610036426702848_n.jpg', :class=>'contacts-face'%>
      </b-card-head>
      <b-card-text>
        <h4>Helga</h4>
        This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.
      </b-card-text>
      <div slot="footer"><small class="phone-link">Записаться на приём к специалисту</small></div>
    </b-card>

  </b-card-group>
  </div>
  <br>
</section>
