
<% if @page.content(:discount) %>
  <section class="discount">
    <%= @page.content(:discount) %>
  </section>
<% end %>

<section class="price">
 <div id="magic">
   <p>
     <%= @page.content(:text).try(:html_safe) %>
   </p>
 </div>
</section>
