<div>
  <b-button v-b-modal.modal-sign-up>Sign up now</b-button>

  <b-modal id="modal-sign-up" centered>

     <hr class="title-line">
    <sign_up_form>

      <div class="bd-example vue-example vue-example-b-form">
        <div><form class="">
          <div id="input-group-1" role="group" class="form-group">
            <label id="input-group-1__BV_label_" for="input-1" class="d-block">Email address:</label>
            <div>
              <input id="input-1" type="email" placeholder="Enter email" required="required" aria-required="true" class="form-control" aria-describedby="input-group-1__BV_description_">
              <!----><!---->
              <small tabindex="-1" id="input-group-1__BV_description_" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
          </div>
          <div id="input-group-2" role="group" class="form-group">
            <label id="input-group-2__BV_label_" for="input-2" class="d-block">Your Name:</label>
            <div>
              <input id="input-2" type="text" placeholder="Enter name" required="required" aria-required="true" class="form-control">
              <!----><!----><!---->
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-danger">Reset</button>
        </form>

        </div>
      </div>

    </sign_up_form>
  </b-modal>
</div>
