<footer id="footer">
  <b-container>
    <b-row>
      <p></p>
    </b-row>
    <b-row>
      <b-col>
        <p id="footer-title">News</p>
        <small>
          <a href="#" class="footer-link">Whats new?</a><br>
          <a href="<%= "#{'massage_types_url'}" %>" class="footer-link">Articles</a><br>
          <a href="<%= "#{'galleries_url'}" %>" class="footer-link">Gallery</a><br>
        </small>
      </b-col>

      <b-col>
        <p id="footer-title">About us</p>
        <small>
          <a href="#" class="footer-link">Feedback</a><br>
          <a href="<%= "#{'contacts'}" %>" class="footer-link">Contacts</a><br>
          <a href="<%= "#{'price'}" %>" class="footer-link">Price</a><br>
        </small>
      </b-col>

      <b-col>

      </b-col>

      <b-col>
        <p id="footer-title">Links:</p>
      </b-col>
    </b-row>
  </b-container>

</footer>
